<html ng-app="cartApplication">
<head>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div ng-controller="addToBuyListController as atb">
    <ol>
      <li ng-repeat="item in atb.addToCart">Buy {{item.qty}} {{item.name}}
      <button type="text" ng-click="atb.addToBoughtItemsList(item.qty,item.name);">Bought</button>
    </li>
    </ol>
  </div>
  <div ng-controller="alreadyBoughtListController as ablc">
    <ol>
    <li ng-repeat="item in ablc.alreadyAddedList">Bought {{item.name}}</li>

    </ol>

  </div>

</body>
</html>
